[submodule "MinGo.Quartz.SDK"]
	path = MinGo.Quartz.SDK
	url = https://github.com/FFFirer/MinGo.Quartz.SDK.git
[submodule "MinGo.Quartz.Platform"]
	path = MinGo.Quartz.Platform
	url = https://github.com/FFFirer/MinGo.Quartz.Platform.git
[submodule "MinGo.Quartz.Deploy"]
	path = MinGo.Quartz.Deploy
	url = https://github.com/FFFirer/MinGo.Quartz.Deploy.git
